confid.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:MultiControlHost" elementFormDefault="qualified" targetNamespace="urn:MultiControlHost" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="infraredControllerConfig" type="tns:MultiControlHost.InfraredControllerConfigCT" />
	<xs:element name="resistiveControllerConfig" type="tns:MultiControlHost.ResistiveControllerConfigCT" />
	<xs:element name="generalDeviceConfig" type="tns:MultiControlHost.GeneralDeviceConfigCT" />
	<xs:element name="actionsConfig" type="tns:MultiControlHost.ActionsConfigCT" />
	<xs:element name="temperatureSensorsConfig" type="tns:MultiControlHost.TemperatureSensorsConfigCT" />
	<xs:element name="RGBControllerConfig" type="tns:MultiControlHost.RGBControllerConfigCT" />
	<xs:complexType name="MultiControlHost.InfraredControllerConfigCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="remoteControllers" type="tns:MultiControlHost.RemoteControllersCT">
				<xs:annotation>
					<xs:documentation>The RemoteControllers.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="options" type="tns:MultiControlHost.IRsettingsCT">
				<xs:annotation>
					<xs:documentation>The Options.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="enabled" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Enabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MultiControlHost.ResistiveControllerConfigCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="buttons" type="tns:MultiControlHost.ButtonsCT">
				<xs:annotation>
					<xs:documentation>The Buttons.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="enabled" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Enabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MultiControlHost.ButtonsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="button" type="tns:MultiControlHost.ButtonCT">
				<xs:annotation>
					<xs:documentation>The Button Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MultiControlHost.RemoteControllersCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="remoteController" type="tns:MultiControlHost.RemoteControllerCT">
				<xs:annotation>
					<xs:documentation>The RemoteController Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MultiControlHost.RemoteControllerCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="buttons" type="tns:MultiControlHost.ButtonsCT">
				<xs:annotation>
					<xs:documentation>The Buttons.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="encode_algorithm" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The encode_algorithm.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MultiControlHost.ButtonCT">
		<xs:attribute name="id" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="code" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="action" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The action.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MultiControlHost.GeneralDeviceConfigCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="connection" type="tns:MultiControlHost.ConnectionCT">
				<xs:annotation>
					<xs:documentation>The Connection.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MultiControlHost.ConnectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="PortNumber" type="tns:MultiControlHost.SingleValueCT">
				<xs:annotation>
					<xs:documentation>The PortNumber.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="BaudRate" type="tns:MultiControlHost.SingleValueCT">
				<xs:annotation>
					<xs:documentation>The BaudRate.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Parity" type="tns:MultiControlHost.SingleValueCT">
				<xs:annotation>
					<xs:documentation>The Parity.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="StopBits" type="tns:MultiControlHost.SingleValueCT">
				<xs:annotation>
					<xs:documentation>The StopBits.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="DataBits" type="tns:MultiControlHost.SingleValueCT">
				<xs:annotation>
					<xs:documentation>The DataBits.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MultiControlHost.SingleValueCT">
		<xs:attribute name="value" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MultiControlHost.IRsettingsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="CurrentRemoteController" type="tns:MultiControlHost.SingleValueCT">
				<xs:annotation>
					<xs:documentation>The CurrentRemoteController.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="AllowLongPress" type="tns:MultiControlHost.SingleValueCT">
				<xs:annotation>
					<xs:documentation>The AllowLongPress.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Enabled" type="tns:MultiControlHost.SingleValueCT">
				<xs:annotation>
					<xs:documentation>The Enabled.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MultiControlHost.ActionsConfigCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="Actions" type="tns:MultiControlHost.ActionsDescriptorsCT">
				<xs:annotation>
					<xs:documentation>The Actions.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MultiControlHost.ActionsDescriptorsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="ActionDescriptor" type="tns:MultiControlHost.ActionDescriptorCT">
				<xs:annotation>
					<xs:documentation>The ActionDescriptor Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MultiControlHost.ActionDescriptorCT">
		<xs:attribute name="id" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MultiControlHost.TemperatureSensorsConfigCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="sensors" type="tns:MultiControlHost.SensorsCT">
				<xs:annotation>
					<xs:documentation>The Sensors.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="options" type="tns:MultiControlHost.OptionsCT">
				<xs:annotation>
					<xs:documentation>The Options.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="widgets" type="tns:MultiControlHost.WidgetsCT">
				<xs:annotation>
					<xs:documentation>The Widgets.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MultiControlHost.SensorsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="sensor" type="tns:MultiControlHost.SensorCT">
				<xs:annotation>
					<xs:documentation>The Sensor Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MultiControlHost.OptionsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="ROMsize" type="tns:MultiControlHost.SingleValueCT">
				<xs:annotation>
					<xs:documentation>The ROMsize.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="askInterval" type="tns:MultiControlHost.SingleValueCT">
				<xs:annotation>
					<xs:documentation>The askInterval.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="saveInterval" type="tns:MultiControlHost.SingleValueCT">
				<xs:annotation>
					<xs:documentation>The saveInterval.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="maxDevices" type="tns:MultiControlHost.SingleValueCT">
				<xs:annotation>
					<xs:documentation>The maxDevices.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="tempTableVisibleValuesNumber" type="tns:MultiControlHost.SingleValueCT">
				<xs:annotation>
					<xs:documentation>The TempTableVisibleValuesNumber.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MultiControlHost.SensorCT">
		<xs:attribute name="ROM" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ROM.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="askInterval" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The askInterval.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="dbSave" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The dbSave.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="saveInterval" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The saveInterval.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="drawOnGraph" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The drawOnGraph.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="id" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MultiControlHost.WidgetsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="widget" type="tns:MultiControlHost.WidgetCT">
				<xs:annotation>
					<xs:documentation>The Widget Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MultiControlHost.WidgetCT">
		<xs:attribute name="sensorROM" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The sensorROM.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="widgetName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The widgetName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MultiControlHost.RGBControllerConfigCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="options" type="tns:MultiControlHost.RGBOptionsCT">
				<xs:annotation>
					<xs:documentation>The Options.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="colorPresets" type="tns:MultiControlHost.ColorPresetsCT">
				<xs:annotation>
					<xs:documentation>The ColorPresets.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="enabled" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The enabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MultiControlHost.RGBOptionsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="mode" type="tns:MultiControlHost.SingleValueCT">
				<xs:annotation>
					<xs:documentation>The mode.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="defaultColor" type="tns:MultiControlHost.SingleValueCT">
				<xs:annotation>
					<xs:documentation>The defaultColor.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="colorPreset" type="tns:MultiControlHost.SingleValueCT">
				<xs:annotation>
					<xs:documentation>The colorPreset.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MultiControlHost.ColorPresetsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="colorPreset" type="tns:MultiControlHost.ColorPresetCT">
				<xs:annotation>
					<xs:documentation>The ColorPreset Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MultiControlHost.ColorPresetCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="transitions" type="tns:MultiControlHost.TransitionsCT">
				<xs:annotation>
					<xs:documentation>The Transitions.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MultiControlHost.TransitionsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="colorPoint" type="tns:MultiControlHost.ColorPointCT">
				<xs:annotation>
					<xs:documentation>The ColorPoint Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MultiControlHost.ColorPointCT">
		<xs:attribute name="index" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The index.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="color" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The color.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="duration" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The duration.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
